---
interface Props {
	colorbtnText: string;
    bgcolor: string;
    textColor: string;
}

const { colorbtnText, bgcolor, textColor } = Astro.props;
---

<button class="branding-stroke-button rounded-lg me-4 inline-flex gap-5 items-center" style=`background-color: ${bgcolor}; color: ${textColor};`>
    { colorbtnText } 
    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.38094 2.37524L1.68879 2.37524C1.46858 2.37141 1.25868 2.28125 1.10431 2.12416C0.949928 1.96708 0.863424 1.75565 0.863424 1.5354C0.863424 1.31516 0.949928 1.10373 1.10431 0.946643C1.25868 0.78956 1.46858 0.699394 1.68879 0.695567L8.40866 0.695567C8.51904 0.695251 8.62839 0.716759 8.73043 0.758852C8.83247 0.800946 8.92517 0.862796 9.00322 0.940845C9.08127 1.01889 9.14312 1.1116 9.18522 1.21364C9.22731 1.31567 9.24882 1.42503 9.2485 1.5354L9.2485 8.25528C9.24149 8.47332 9.14993 8.68008 8.99319 8.83181C8.83645 8.98354 8.62683 9.06834 8.40867 9.06827C8.19052 9.06819 7.98096 8.98324 7.82432 8.8314C7.66769 8.67955 7.57627 8.47273 7.56942 8.25468L7.56942 3.56253L1.87588 9.25607C1.71836 9.4136 1.50471 9.50209 1.28194 9.50209C1.05917 9.50209 0.845518 9.4136 0.687994 9.25607C0.530471 9.09855 0.441975 8.8849 0.441975 8.66213C0.441975 8.43936 0.530471 8.22571 0.687995 8.06819L6.38094 2.37524Z" fill=`${textColor}`/>
    </svg>
</button>

<style>
    .branding-stroke-button{
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 18.15px;
        text-align: left;
        color: #fff;
        padding: 10px 20px 10px 20px;
    }
</style>