---
interface Props {
	btnText: string;
}

const { btnText } = Astro.props;
---

<button class="branding-stroke-button rounded-lg py-2 px-5" style="font-size: 15px; color: #C9F001; border: 1px solid #C9F001;">{ btnText }</button>
