---
import Meter from "../../public/meter.webp";
import Enhance1 from "../../public/Icons/enhance1.webp"
import Enhance2 from "../../public/Icons/enhance2.webp"
import Enhance3 from "../../public/Icons/enhance3.webp"
import CTbtn from "../components/buttons/Cbtn.astro"
---

<!-- kytify section -->
<div class="kytify py-20 px-8 lg:px-16"> 
    <div class="kytify-title text-center">Sustainable Websites: Better for <span class="text-[#00C71C]">Business</span>, Better for the <span class="text-[#00C71C]">Planet</span></div>

    <div class="sustainable lg:px-10 px-6 py-14 mt-10 rounded-lg">
        <div class="kytz-flexbox flex lg:flex-row flex-col justify-around lg:gap-10 gap-14">
            <div class="kytz-firstbox flex flex-col basis-4/12">
                <div class="leafIcon text-center pb-6">
                    <svg class="inline" width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.0723 20.1687C9.74195 20.167 6.54827 18.8441 4.19214 16.4904C1.83602 14.1367 0.509931 10.9443 0.504888 7.61394L0.504888 0.187722C3.83417 0.189396 7.02689 1.51141 9.38283 3.86378C11.7388 6.21615 13.0656 9.40685 13.0723 12.7361L13.0723 20.1623L13.0723 20.1687Z" fill="#00C71C"/>
                        <path d="M15.1034 20.1687L15.1034 12.7425C15.1034 9.40881 16.4273 6.21156 18.7839 3.8537C21.1406 1.49585 24.3372 0.170384 27.6708 0.168701L27.6708 7.61394C27.6658 10.9443 26.3397 14.1367 23.9836 16.4904C21.6275 18.8441 18.4338 20.167 15.1034 20.1687Z" fill="#C9F001"/>
                    </svg>
                </div>
                <div class="h5">How can websites be</div>
                <div class="sustainable-text">Sustainable</div>
            </div>
            <div class="w-full">
                <svg class="w-full" width="341" height="177" viewBox="0 0 341 177" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M335.578 171.139C335.578 149.472 331.311 128.016 323.019 107.998C314.727 87.9801 302.574 69.7911 287.252 54.4699C271.931 39.1487 253.742 26.9952 233.724 18.7034C213.706 10.4116 192.251 6.14392 170.583 6.14392C148.916 6.14392 127.46 10.4116 107.442 18.7034C87.424 26.9952 69.2351 39.1487 53.9139 54.4699C38.5926 69.7911 26.4392 87.9801 18.1474 107.998C9.85561 128.016 5.58789 149.472 5.58789 171.139" stroke="url(#paint0_linear_149_380)" stroke-width="10.3329" stroke-linecap="round"/>
                    <circle cx="169.621" cy="159.602" r="11.0566" transform="rotate(66.0622 169.621 159.602)" fill="#666666"/>
                    <path d="M261.742 118.961L180.971 147.628L186.115 159.214L261.742 118.961Z" fill="#666666"/>
                    <path d="M311.777 171.692H324.112" stroke="black" stroke-width="0.738063"/>
                    <path d="M293.056 101.817L303.738 95.6493" stroke="black" stroke-width="0.738063"/>
                    <path d="M241.903 50.6646L248.071 39.9822" stroke="black" stroke-width="0.738063"/>
                    <path d="M32.2803 171.692H19.9453" stroke="black" stroke-width="0.738063"/>
                    <path d="M51.002 101.817L40.3196 95.6493" stroke="black" stroke-width="0.738063"/>
                    <path d="M102.154 50.6646L95.9868 39.9822" stroke="black" stroke-width="0.738063"/>
                    <path d="M172.029 31.9414L172.029 19.6064" stroke="black" stroke-width="0.738063"/>
                    <defs>
                    <linearGradient id="paint0_linear_149_380" x1="-35.1059" y1="171.139" x2="391.152" y2="171.139" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white"/>
                    <stop offset="0.3" stop-color="#DEDEDE"/>
                    <stop offset="1" stop-color="#00C71C"/>
                    </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="kytz-firstbox flex flex-col basis-3/12">
                <div class="leafIcon text-center pb-5">
                    <svg class="inline" width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.0723 20.1687C9.74195 20.167 6.54827 18.8441 4.19214 16.4904C1.83602 14.1367 0.509931 10.9443 0.504888 7.61394L0.504888 0.187722C3.83417 0.189396 7.02689 1.51141 9.38283 3.86378C11.7388 6.21615 13.0656 9.40685 13.0723 12.7361L13.0723 20.1623L13.0723 20.1687Z" fill="#00C71C"/>
                        <path d="M15.1034 20.1687L15.1034 12.7425C15.1034 9.40881 16.4273 6.21156 18.7839 3.8537C21.1406 1.49585 24.3372 0.170384 27.6708 0.168701L27.6708 7.61394C27.6658 10.9443 26.3397 14.1367 23.9836 16.4904C21.6275 18.8441 18.4338 20.167 15.1034 20.1687Z" fill="#C9F001"/>
                    </svg>
                </div>
                <div class="h5">Websites consume energy to be hosted, displayed. Sustainable ones use it efficiently.</div>
            </div>
        </div>   
    </div>

    <!-- why we craft -->
    <div class="kytz-flexbox">
        <div class="flex lg:flex-row flex-col pt-8 gap-6">
            <div class="benefit-box">
                <div class="flex flex-row justify-between pb-12">
                    <div class="h4 basis-6/12">Why we craft only sustainable websites?</div>
                    <div class="text-end">
                        <svg class="inline" width="64" height="60" viewBox="0 0 64 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M56 38C54.156 38 52.412 38.619 50.997 39.759C50.949 39.722 50.901 39.684 50.852 39.647C52.914 35.764 54 31.411 54 27C54 12.112 41.888 0 27 0C12.112 0 0 12.112 0 27C0 41.888 12.112 54 27 54C31.393 54 35.727 52.924 39.598 50.878C42.892 56.018 50.225 59.731 50.553 59.895C50.693 59.965 50.847 60 51 60C51.153 60 51.307 59.965 51.447 59.895C51.96 59.638 64 53.531 64 46C64 41.589 60.411 38 56 38Z" fill="url(#paint0_linear_74_763)"/>
                            <path d="M56 38C54.158 38 52.414 38.618 51 39.757C49.586 38.618 47.842 38 46 38C41.589 38 38 41.589 38 46C38 53.531 50.04 59.638 50.553 59.895C50.693 59.965 50.847 60 51 60C51.153 60 51.307 59.965 51.447 59.895C51.96 59.638 64 53.531 64 46C64 41.589 60.411 38 56 38Z" fill="#1C9842"/>
                            <path d="M53.975 26C53.557 14.581 46.016 4.95599 35.672 1.43799L33 4.99999H23L21 7.99999H16L12.549 12H20L25.193 16H31V20H23.387L19 17L11 19L7 23V29L11 34L15 33H20V37.742L23 40V45L25 49H28L34 44V39L41 34V31H35L32 27L35 24L38 27L43 26L45 23V19H48V26H53.975Z" fill="url(#paint1_linear_74_763)"/>
                            <defs>
                            <linearGradient id="paint0_linear_74_763" x1="32" y1="0" x2="32" y2="60" gradientUnits="userSpaceOnUse">
                            <stop offset="0.0024" stop-color="#C9F001"/>
                            <stop offset="1" stop-color="#66CF59"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_74_763" x1="30.487" y1="1.43799" x2="30.487" y2="49" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3FAF61"/>
                            <stop offset="1" stop-color="#0E8E35"/>
                            </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div class="benefits">
                    Our vision is to be a business for good for our customers, employees and the community at large. Building sustainable websites is about aligning to these values, showcasing our commitment to a greener future. We would like to do the same for you too!
                </div>
            </div>
            <div class="benefit-box flex-1">
                <div class="h4 pb-12">What are the benefits<br> globally?</div>
                <div class="flex flex-row items-center gap-4 pb-2">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.06055 18.5C10.2424 18.5 11.4128 18.2672 12.5047 17.8149C13.5966 17.3626 14.5888 16.6997 15.4245 15.864C16.2602 15.0282 16.9232 14.0361 17.3755 12.9442C17.8278 11.8522 18.0605 10.6819 18.0605 9.5C18.0605 8.3181 17.8278 7.14778 17.3755 6.05585C16.9232 4.96392 16.2602 3.97177 15.4245 3.13604C14.5888 2.30031 13.5966 1.63738 12.5047 1.18508C11.4128 0.732792 10.2424 0.5 9.06055 0.5C6.6736 0.5 4.38441 1.44821 2.69659 3.13604C1.00876 4.82387 0.0605469 7.11305 0.0605469 9.5C0.0605469 11.8869 1.00876 14.1761 2.69659 15.864C4.38441 17.5518 6.6736 18.5 9.06055 18.5ZM8.82855 13.14L13.8285 7.14L12.2925 5.86L7.99255 11.019L5.76755 8.793L4.35355 10.207L7.35355 13.207L8.12755 13.981L8.82855 13.14Z" fill="#00A217"/>
                    </svg>
                    <span class="benefits">Generate awareness</span>
                </div>
                <div class="flex flex-row items-center gap-4 pb-2">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.06055 18.5C10.2424 18.5 11.4128 18.2672 12.5047 17.8149C13.5966 17.3626 14.5888 16.6997 15.4245 15.864C16.2602 15.0282 16.9232 14.0361 17.3755 12.9442C17.8278 11.8522 18.0605 10.6819 18.0605 9.5C18.0605 8.3181 17.8278 7.14778 17.3755 6.05585C16.9232 4.96392 16.2602 3.97177 15.4245 3.13604C14.5888 2.30031 13.5966 1.63738 12.5047 1.18508C11.4128 0.732792 10.2424 0.5 9.06055 0.5C6.6736 0.5 4.38441 1.44821 2.69659 3.13604C1.00876 4.82387 0.0605469 7.11305 0.0605469 9.5C0.0605469 11.8869 1.00876 14.1761 2.69659 15.864C4.38441 17.5518 6.6736 18.5 9.06055 18.5ZM8.82855 13.14L13.8285 7.14L12.2925 5.86L7.99255 11.019L5.76755 8.793L4.35355 10.207L7.35355 13.207L8.12755 13.981L8.82855 13.14Z" fill="#00A217"/>
                    </svg>
                    <span class="benefits">Better for environment</span>
                </div>
                <div class="flex flex-row items-start gap-4 pb-2">
                    <svg class="flex-none" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.06055 18.5C10.2424 18.5 11.4128 18.2672 12.5047 17.8149C13.5966 17.3626 14.5888 16.6997 15.4245 15.864C16.2602 15.0282 16.9232 14.0361 17.3755 12.9442C17.8278 11.8522 18.0605 10.6819 18.0605 9.5C18.0605 8.3181 17.8278 7.14778 17.3755 6.05585C16.9232 4.96392 16.2602 3.97177 15.4245 3.13604C14.5888 2.30031 13.5966 1.63738 12.5047 1.18508C11.4128 0.732792 10.2424 0.5 9.06055 0.5C6.6736 0.5 4.38441 1.44821 2.69659 3.13604C1.00876 4.82387 0.0605469 7.11305 0.0605469 9.5C0.0605469 11.8869 1.00876 14.1761 2.69659 15.864C4.38441 17.5518 6.6736 18.5 9.06055 18.5ZM8.82855 13.14L13.8285 7.14L12.2925 5.86L7.99255 11.019L5.76755 8.793L4.35355 10.207L7.35355 13.207L8.12755 13.981L8.82855 13.14Z" fill="#00A217"/>
                    </svg>
                    <span class="benefits">Our websites are 67% less polluting than industry average</span>
                </div>
            </div>
        </div>
    </div>

    <!-- HOW GREEN WEBSITE -->
    <div class="green-websites-inner-layer mt-6">
        <div class="lg:mb-12 mb-5">
            <div class="green-title">
                Sustainable websites
                <span class="lg:block inline">enhance your business's success at no extra cost</span>
            </div>
            <CTbtn bgcolor="" colorbtnText="">
        </div>
        <div>
            <svg class="w-full" width="1180" height="2" viewBox="0 0 1180 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.775391 0.775391L1179.89 0.775391" stroke="black" stroke-dasharray="5 5"/>
            </svg>
        </div>
        <div class="flex lg:flex-row flex-col lg:ap-24 gap-14 pt-12">
            <div class="enhance-box">
                <div class="enhance-img mb-8 mb-8">
                    <img width="56.25" height="56.25" src={Enhance1.src} alt="speed & performance" class="">
                </div>
                <div class="enhance-title mb-8">
                    Higher<br> Speed & performance
                </div>
                <div class="enhance-description">
                    Experience unparalleled website speed and flawless performance, ensuring your visitors enjoy a seamless, premium browsing experience that keeps them engaged and coming back for more.
                </div>
            </div>
            <div class="enhance-box">
                <div class="enhance-img mb-8">
                    <img width="56.25" height="56.25" src={Enhance2.src} alt="speed & performance" class="">
                </div>
                <div class="enhance-title mb-8">
                    Reduced<br> carbon emissions
                </div>
                <div class="enhance-description">
                    Showcase your commitment to sustainability by significantly lowering your website's carbon footprint, positioning your brand as a leader in environmental responsibility and innovation.
                </div>
            </div>
            <div class="enhance-box">
                <div class="enhance-img mb-8">
                    <img width="56.25" height="56.25" src={Enhance3.src} alt="speed & performance" class="">
                </div>
                <div class="enhance-title mb-8">
                    Improved<br> conversion rates
                </div>
                <div class="enhance-description">
                    Optimize your website for superior user experience, leading to higher conversion rates and maximizing your business's revenue potential through enhanced customer satisfaction and trust.
                </div>
            </div>
        </div>
    </div>
</div>  

<style>
    /* -------------------- WHAT IS KYTIFY ----------------
______________________________________________________ */

    .kytify-title{
        font-family: Inter;
        font-size: 36px;
        font-weight: 500;
        line-height: 43.57px;
        letter-spacing: -0.04em;
        text-align: center;
        color: #282828;
    }
    .sustainable-text{
        font-family: Inter;
        font-size: 58px;
        font-weight: 500;
        line-height: 40.45px;
        letter-spacing: -0.03em;
        text-align: center;
        color: #00C71C; 
    }
    .sustainable{
        background-color: #F5F5F7;
    }
    .kytz-flexbox div:nth-child(2){
        flex-basis: 30%;
    }
    .benefits{
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: #000000;
    }
    .benefit-box{
        background-color: #F5F5F7;
        padding: 30px;
        border-radius: 20px;
    }
    .green-websites-inner-layer{
        background-color: #F5F5F7;
        padding: 30px;
        border-radius: 20px;
    }
    .benefit-box:nth-child(1) {
        flex-basis: 65%;
    }

    /* ----------------- PROVIDING A WIDE RANGE OF WEBSITE DESIGN & DEVELOPMENT --------------------------
    _____________________________________________________________________*/

        .green-title{
            font-family: Inter;
            font-size: 32px;
            font-weight: 500;
            line-height: 42.51px;
            letter-spacing: -0.03em;
            text-align: left;
            color: #000000;
        }
        .enhance-title{
            font-family: Inter;
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            text-align: left;
            color: #000000;
        }
        .enhance-description{
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #000000;
        }


    @media (max-width: 600px) {
        .kytify-title{
            font-size: 30px;
            font-weight: 500;
        }
        .sustainable-text{
            font-size: 50px;
        }
        .benefits{
            font-size: 14px;
        }
        .h5{
            font-size: 20px;
            padding-bottom: 1rem;
        }
    }

</style>