<!-- card section -->
<div class="card-section py-14 lg:px-16 px-8">
    <div class="card-section-inner-layer rounded-lg lg:p-16 px-4 py-8 flex lg:flex-row flex-col items-center flex-between">
        <div class="card-content rounded-lg basis-7/12 lg:text-start text-center">Let's Build Something Amazing Together!</div>
        <div class="card-button py-3 flex-1 text-end lg:mt-0 mt-6">
            <button class="lg:w-auto w-full brand-button py-5 lg:px-8 px-4 rounded-lg inline-flex items-center" style="background-color: #1E1E1E; color: #FFFFFF;">
                Talk to our advisor today
                <svg class="ms-3" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.20616 2.16893L1.64554 2.16893C1.38458 2.16439 1.13583 2.05754 0.952877 1.87138C0.769927 1.68523 0.667412 1.43466 0.667412 1.17365C0.667412 0.912641 0.769927 0.662074 0.952878 0.475917C1.13583 0.289759 1.38458 0.182905 1.64554 0.178369L9.6092 0.17837C9.74001 0.177996 9.8696 0.203483 9.99052 0.253368C10.1114 0.303253 10.2213 0.376551 10.3138 0.469046C10.4063 0.561541 10.4796 0.671408 10.5295 0.792331C10.5794 0.913252 10.6049 1.04284 10.6045 1.17365L10.6045 9.1373C10.5962 9.3957 10.4877 9.64073 10.3019 9.82055C10.1162 10.0004 9.86774 10.1009 9.60921 10.1008C9.35068 10.1007 9.10232 10 8.9167 9.82006C8.73107 9.64011 8.62274 9.395 8.61462 9.1366L8.61462 3.57598L1.86726 10.3233C1.68059 10.51 1.42739 10.6149 1.16339 10.6149C0.899384 10.6149 0.646191 10.51 0.459512 10.3233C0.272832 10.1367 0.167958 9.88346 0.167958 9.61946C0.167958 9.35545 0.272833 9.10226 0.459513 8.91558L7.20616 2.16893Z" fill="white"/>
                </svg>
            </button>
        </div>
    </div>
</div>

<style>
    /* ------------------------ BUTTON -------------------
_______________________________________________________ */ 

    .brand-button{
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.36px;
            text-align: left;
            color: #282828;
            background-color:#00C71C;
    }
    /* -------------------- FEATURED BRANDING ----------------
    ______________________________________________________ */

        .card-section-inner-layer{
            background-color: #C9F001;
        }
        .card-content{
            font-family: Inter;
            font-size: 36px;
            font-weight: 500;
            line-height: 43.57px;
            letter-spacing: -0.04em;
            color: #000000;
        }

        @media (max-width: 600px) {
            .card-content{
                font-size: 22px;
                line-height: 26px;
            }
        }
</style>