<div class="testimonial-container lg:pb-20 pb-16 lg:px-16 px-8">
    <div class="testimonial-title text-[36px] font-medium leading-[43.57px] text-center font-inter pb-12">Video Testimonial</div>
    <div class="testimonials-inner-page relative grid lg:grid-cols-3 grid-cols-1 gap-12">
        <div class="h-[487.99px] bg-[#D9D9D9] rounded-lg">
            
        </div>
        <div class="h-[487.99px] bg-[#D9D9D9] rounded-lg">
            
        </div>
        <div class="h-[487.99px] bg-[#D9D9D9] rounded-lg">
            
        </div>
    </div>
</div>