---
    import "../usb.css"
---

<!-- features -->
<div class="kytz-features lg:py-20 pt-12 pb-16 lg:px-16 px-8">
    <div class="relative grid lg:grid-cols-4 grid-cols-2 feature-cover">
        <div class="kytz-box pb-10">
            <div class="feature-count">05+</div>
            <div class="count-text">Years in the field</div>
            <svg class="partition-line lg:block hidden" width="2" height="110" viewBox="0 0 2 110" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 0.158691V109.7" stroke="black" stroke-dasharray="5 5"/>
            </svg>
        </div>
        <div class="kytz-box pb-10">
            <div class="feature-count">15+</div>
            <div class="count-text">Team Size</div>
            <svg class="partition-line lg:block hidden" width="2" height="110" viewBox="0 0 2 110" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 0.158691V109.7" stroke="black" stroke-dasharray="5 5"/>
            </svg>
        </div>
        <div class="kytz-box lg:pt-0 pt-10">
            <div class="feature-count">35+</div>
            <div class="count-text">Projects Completed</div>
            <svg class="partition-line lg:block hidden" width="2" height="110" viewBox="0 0 2 110" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 0.158691V109.7" stroke="black" stroke-dasharray="5 5"/>
            </svg>
        </div>
        <div class="kytz-box lg:pt-0 pt-10">
            <div class="feature-count">10+</div>
            <div class="count-text">Global Clients</div>
        </div>
    </div>    
</div>